body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: white;
  background-color: #151515;
}

.header {
  text-align: center;
}

.title {
  font-size: 32px;
  margin-bottom: 0;
}

.subtitle {
  margin-left: 0%;
}

.nav {
  background-color: limegreen;
  padding: 10px 15%;
  display: flex;
}

.nav-item {
  border: 2px solid white;
  margin: auto;
  justify-content: space-evenly;
}