body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  color: white;
  background-color: #151515;
}

.header {
  text-align: center;
  /* background-image: linear-gradient(73deg, #00ffac, #10413a); */
  background-image: linear-gradient(73deg, #00ffac, #10413a);
  padding: 5vh 0;
}

.title {
  font-size: 42px;
}

.subtitle {
  margin-top: .5em;
}

.nav {
  background-color: rgb(19, 19, 19);
  padding: 5px 20%;
  display: flex;
}

.nav-item {
  padding: 13px 0;
  text-align: center;
  color: white;
  flex-grow: 1;
  transition: 150ms linear;
  border-radius: 15px;
  text-decoration: none;
}

.nav-item:hover {
  background: #fff;
  color: black;
  transition: 150ms linear;
}

.nav-border {
  margin: 12px 8px;
  border-left: 2px solid silver;
}

.card {
  background-color: #232323;
  border-radius: 19px;
  width: 50vh;
  min-height: 45vh;
  margin: auto;
  margin-top: 5vh;
  padding: 2em 6em;
}

.card-title {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: .5em;
}

.content {
  margin: 1.5em 0;
  line-height: 1.4;
}