body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  color: whitesmoke;
  background-color: #1b1b1b;
  /* background-color: #063303; */
}

.header {
  text-align: center;
  /* background-image: linear-gradient(73deg, #00ffac, #10413a); */
  background-image: linear-gradient(73deg, #00ffac, #10413a);
  padding: 4vh 0;
}

.title {
  font-size: 42px;
}

.subtitle {
  margin-top: .5em;
}

.nav {
  background-color: #121212;
  padding: 5px 20%;
  display: flex;
}

.nav-item {
  padding: 13px 0;
  text-align: center;
  color: white;
  flex-grow: 1;
  transition: 150ms linear;
  border-radius: 15px;
  text-decoration: none;
}

.nav-item:hover {
  background: #fff;
  color: black;
  transition: 150ms linear;
}

.nav-border {
  margin: 12px 8px;
  border-left: 2px solid silver;
}

.card {
  background-color: #282828;
  border-radius: 19px;
  width: 60%;
  max-width: 580px;
  min-height: 45vh;
  margin: 4vh auto 6vh auto;
  padding: .5em 3em;
  text-align: center;
}


.card-title {
  text-align: center;
  font-size: 1.65em;
  margin-top: 1em;
  margin-bottom: .5em;
}

#about-title {
  font-size: 1.75em;
}

.content {
  margin: 1.5em 0rem;
  line-height: 1.4;
  text-align: left;
}

/* .cert {
  text-align: center;
} */

ul {
  list-style-position: inside;
  text-align: center;
  margin-left: -10%;
}

hr {
  margin: 6rem 30px 3rem 30px;
  color: rgb(212, 212, 212);
}

.hidden-link {
  color: whitesmoke;
}

.cert {
  text-align: center;
  margin: 1em -2em;
}

.cert a {
  color: rgb(85, 202, 248);
}

.cert-title {
  font-size: 1.35em;
}

.cert-title a {
  color: whitesmoke;
}

.tech-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 42%;
  margin: 1.5rem auto 2rem auto;
  padding-left: 5px;
}

.tech-icon {
  font-size: 2em;
}

.tech-img {
  max-width: 32px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.tech-child {
  flex: 1 0 40%;
  margin: .35rem 0;
}

.tech-desc {
  margin-bottom: 0px;
}

#react-icon {
  color: #61DAFB;
}

.project-link {
  text-decoration: none;
  color: white;
}

.project {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: rgb(130, 231, 172); */
  background-color: #393939;
  color: whitesmoke;
  /* box-shadow: 0 0 0 3px rgb(130, 231, 172); */
  font-weight: 500;
  border-radius: 15px;;
  /* border-radius 25px; */
  margin: 2em 0;
  padding: 10px;
  transition: 100ms linear;
}

.project:hover {
  /* box-shadow: 0 0 0 7px rgb(130, 231, 172); */
  /* outline: 15px solid black; */
  /* border-radius: 30px; */
  color: #262626;
  background-color: rgb(165, 235, 231);
  /* border-radius: 7px; */
  box-shadow: 0 0 0 2px #151515;
  /* transition: 200ms linear; */
}

.project-description {
  font-size: 1.3em;
  flex-grow: 1;
  text-align: center;
}

.project-subtitle {
  margin: .75em 40px 0 40px;
  font-size: .72em;
}

.project-image {
  display: inline;
  width: 80px;
  border-radius: 5px;
  float: right;
}

.connect-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #393939;
  color: whitesmoke;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 150ms linear;
}

.connect-item:hover {
  background-color: #494949;
}

.email-btn-core {
  width: 75%;
}

.email-button:hover {
  padding-bottom: 18px;
  /* transition: 150ms linear; */
}

.email-display {
  width: 75%;
  transition: 150ms linear;
  /* display: none; */
  height: 0;
  opacity: 0
}

.email-button:hover .email-display {
    display: inline;
    opacity: 1;
    height: 1em;
    margin-top: 10px;
}

.connect-icon {
  margin-right: .5em;
  font-size: 1.25em;
}

@media (max-width: 700px){
  .tech-container {
    width: 89%;
  }
  .project-description {
    font-size: 1.1em;
  }
  .project-subtitle {
    margin: .75em 20px 0 25px;
    font-size: .77em;
  }
  .connect-item {
    width: 60%;
    padding-left: -30px;
    padding-right: -30px;
  }
}

@media (max-width: 500px){
  .project {
    margin-left: -25px;
    margin-right: -25px;
  }
  .project-description {
    font-size: .95em;
  }
  .project-subtitle {
    font-size: .85em;
  }
  .connect-item {
    width: 85%;
  }
}